[Desktop Entry]
Type=Application
Name=Genealogy
GenericName=Genealogy program
Comment=Event-sourced genealogy program
Exec=genealogy-gui
Icon=genealogy
Terminal=false
Categories=Office;Database;Utility;
Keywords=genealogy;ancestry;family;tree;gedcom;
